@import "~tailwindcss/base.css";
@import "~tailwindcss/components.css";
@import "~tailwindcss/utilities.css";

@layer utilities {
    @variants responsive {
        .h--70 {
            height: 70vh;
        }
        .h--60 {
            height: 60vh;
        }
    }
    .h--70 {
        height: 70vh;
    }
    .h--60 {
        height: 60vh;
    }
    .separator {
        @apply flex items-center text-center
    }

    .separator::before,
    .separator::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #3576A4;
    }

    .separator:not(:empty)::before {
        margin-right: .25em;
    }

    .separator:not(:empty)::after {
        margin-left: .25em;
    }
    .hidden-imp {
        display: none !important;
    }
    .height-28 {
        height: calc(100% - 28px);
    }
    .text-center-last {
        text-align-last: center;
    }
    .br-top-left {
        border-top-left-radius: 12px;
    }
    .br-top-right {
        border-top-right-radius: 12px;
    }
}
body {
    @apply font-roboto text-gray-900 text-base
}
.active {
    @apply text-green-550 border-green-550 border-solid border-0 lg:border-b-2 font-bold
}
.link-hover {
    @apply hover:text-green-550 border-green-550 hover:border-b-2
}
.banner-dots {
    @apply w-2 h-2 shadow-lg ml-4 rounded-full inline-block
}
.banner-list {
    @apply inline-block text-white font-bold text-xl mx-3 font-roboto-slab
}
.border--radius {
    @apply rounded-xl
}
.page-title-primary {
    @apply font-roboto-slab font-bold text-3xl text-lightblue-650
}
.page-title-secondary {
    @apply font-roboto-slab font-bold text-2xl text-gray-900
}
.btn-main {
    @apply px-8 font-bold py-2 text-center bg-green-550 hover:bg-white border-2 border-green-550 text-white hover:text-green-550 rounded-xl
}
.btn-main-large {
    @apply px-8 font-bold py-3 text-center bg-green-550 hover:bg-white border-2 border-green-550 text-white hover:text-green-550 rounded-xl
}
.btn-primary {
    @apply px-8 font-bold py-1 text-center bg-green-550 hover:bg-green-150 border-2 border-green-550 text-white hover:text-green-550 rounded-xl
}
.btn-secondary {
    @apply py-1 px-8 bg-green-550 text-white text-lg font-bold font-roboto rounded-xl border-4 border-white shadow-2xl focus:outline-none hover:bg-white hover:text-green-550
}
.form-btn {
    @apply bg-green-550 text-white font-bold font-roboto text-base px-4 py-2 rounded-xl hover:bg-green-150 hover:text-green-550 border-2 border-green-550
}
.form--input {
    @apply px-3 py-2 font-roboto text-base focus:ring-0 focus:border-green-550 rounded-md text-gray-900 border-white bg-white
}
.footer-icons {
    @apply p-3 bg-blue-200 text-xl text-green-550 w-11 text-center rounded-3xl hover:bg-green-550 hover:text-white
}
.social-icons {
    @apply p-3 bg-blue-200 text-xl shadow-md text-green-550 w-11 text-center rounded-xl hover:bg-green-550 hover:text-white
}
.footer-links {
    @apply font-roboto text-base 2xl:text-xl text-green-550 no-underline hover:border-b-2 hover:border-green-550
}
.footer-section-title {
    @apply font-roboto text-2xl 2xl:text-3xl text-gray-900
}
.plan-feature {
    @apply font-roboto text-base text-gray-900 leading-6
}
.feature-icon {
    @apply text-green-550 pr-3
}
.pricing-fee {
    @apply font-roboto-slab font-bold text-xl text-lightblue-650 pt-2 pb-5 text-center
}
.input-search {
 @apply  block w-full bg-green-150 font-roboto text-base text-gray-900 rounded-xl border-0 py-3 px-8 focus:border-green-550 focus:ring-green-550
}
.rating input {
    @apply hidden
}
.rating label {
    @apply text-xl text-gray-300 float-right transition-all
}
.rating input:not(:checked) ~ label:hover,
.rating input:not(:checked) ~ label:hover ~ label {
    @apply text-yellow-400
}
.rating input:checked ~ label {
    @apply text-yellow-400
}
.copy-clipboard {
    @apply ml-1 text-gray-300 hover:text-green-550 cursor-pointer
}
.tags-all {
    @apply flex flex-wrap justify-start items-center mt-3 mb-1
}
.tag {
    @apply mb-2 mr-2 py-1.5 px-4 text-gray-900 bg-green-150 rounded-xl hover:bg-green-550 hover:text-white
}
.nav--tabs {
    @apply my-3 py-1 pl-4 text-center text-white text-2xl hover:rounded-r-3xl hover:bg-white hover:text-green-550
}
.tab-active {
    @apply bg-white text-green-550 rounded-r-3xl
}
.btn-outline {
    @apply bg-transparent text-green-550 border-2 border-green-550 rounded-xl px-4 py-2 shadow-lg hover:bg-green-550 hover:text-white
}
.nav---tabs {
    @apply py-2 px-6 my-1 text-gray-400 hover:text-white hover:bg-green-550 hover:rounded-r-3xl
}
.span-count {
    @apply py-1 px-2 font-bold text-sm float-right bg-green-150 text-gray-900 rounded-2xl
}
.nav---tabs:hover .span-count {
    @apply bg-white
}
.tab--active {
    @apply text-white bg-green-550 rounded-r-3xl
}
.notification-icon {
    @apply p-2 bg-green-150 text-xl shadow-md text-green-550 w-12 h-12 text-center rounded-xl hover:bg-green-550 hover:text-white
}
.dropdown-item {
    @apply flex items-center px-4 py-2 hover:bg-green-550 hover:text-white
}
.dropdown-item:hover .dropdown-item-icon {
    @apply text-white
}
.dropdown-item-icon {
    @apply text-green-550
}
.tags-count {
    @apply py-2 px-2 font-bold text-sm bg-white text-gray-900 rounded-2xl mr-2
}
.active-tab {
    @apply border-green-550 border-b-4
}
.btn-dashboard {
    @apply bg-green-550 text-white px-5 py-3 font-bold text-lg rounded-xl mx-2 w-48 focus:outline-none border-2 border-green-550 hover:bg-white hover:text-green-550
}
.btn-dashboard-count {
    @apply py-2 px-2 font-bold text-base bg-white text-gray-900 rounded-2xl mr-2 group-hover:text-white group-hover:bg-green-500
}
.follow-count {
    @apply py-2 px-2 font-bold text-sm bg-green-150 text-green-550 rounded-2xl mr-2
}
.tag-filter-item {
    @apply flex items-center px-4 py-2 text-sm hover:bg-green-550 hover:text-white
}

